

header
{
    min-height: 100px;
    background-color: #5896c9;
    padding-top: 10px;
    padding-bottom: 20px;
    position: relative;
    margin-bottom: 20px;
}

h1
{
    color: #ffffff;
    text-align: center;
}

.description
{
    position: absolute;
    top: 10px;
    left: 10px;
    color: #323232;
    background-color: #ffbb00;
    font-size: 18px;
    max-width: 75%;
    border-radius: 8px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.25);
    padding: 4px 10px;
}

footer
{
    min-height: 200px;
    background-color: #787878;
    padding-top: 20px;
    position: relative;
    margin-top: 40px;
}

.with-label
{
    position: relative;
    padding-top: 30px;
}

.comments
{
    background-color: #3598bb;
    color: #ffffff;
}

aside
{
    background-color: #ffeec3;
    padding-top: 20px;
    padding-bottom: 10px;
}

[data-pgc-master] .page-comments
{
    display: none;
}

.navbar
{
    margin-bottom: 0;
}

.banner
{
    max-width: 96%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.tagline
{
    color: #ffffff;
}

.header-shade-1
{
    background-color: #109b3b;
}

.header-shade-2
{
    background-color: #9c3db1;
}

